{% block content %}

{% include 'main_menu.html' %}
<div class="container col-5 position-relative" style="max-height: calc(100vh - 200px); min-height: 400px;">
<form method="post" class="position-absolute top-50 start-50 translate-middle">
    {% csrf_token %}
    <h5>Новый пароль</h5>
    {{ form.new_password1 }}
    <h5 class="mt-4">Повторите пароль</h5>
    {{ form.new_password2 }}
    <button class="btn btn btn-light bg-secondary bg-opacity-25 mt-3" type="submit">Принять</button>
</form>
</div>

{% endblock %}